<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dAnger | Your anger on the web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/container.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}" />
  </head>

  <body>
    <div class="container">
      {% for msg in db %}
        
      <div class="anger">
        <div class="message">
          {{ msg }}
        </div>
        <div class="info">- Someone</div>
      </div>
      {% endfor %}
    </div>
    <hr />
    <form action="/" id="message-form" method="post">
      <input type="text" placeholder="Your Message" id="msg" name="msg">
      <button type="submit" id="submit">Submit</button>
    </form>
  </body>
</html>
